@model MarioAndresJaramillo.Models.Persona

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Persona</h1>

<form asp-action="Eliminar" asp-route-id="@Model.Cedula" method="post">
    <div class="form-group">
        <p>¿Estás seguro de que deseas eliminar la persona con la Cedula @Model.Cedula?</p>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>